<!DOCTYPE html>
<html lang="en">
<head>
    <title> Book App </title>
</head>
<body>
    <h1>Hello World</h1>
        <p><a href="searches/show">List of Stuff</a></p>
        <p><a href="/error">Books</a></p>
</body>
</html>