<!DOCTYPE html>
<html lang="en">
<head>
    <title>We are in index HTML </title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body >
    <header><h1>Form</h1></header>
    <main>
      <form action="/searches" method="post">
        <label>
          <span>Name</span>
          <input name="search" placeholder='Enter a Tilte Or Author' />
        </label><br><br>
        <div>
          <input type="radio" name="searchtype" value="title" > 
          <label for="Title">Title</label> 
        </div>

        <div>
          <input type="radio" name="searchtype" value="author"> 
          <label for="Author">Author</label> 
        </div>
          
        <button>Go and Search</button><br><br>
      </form>
    </main>
    <footer><br><br>
        This demo brought to you by Fatima and Nawal for Joking services.
      </footer>
</body>
</html>