/* Styling index ejs  */

main h2 {
    background-color: dimgrey;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0px auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

#searchbox {
    margin: 55px;
    padding: 20px;
    width: 350px ;
}